# OS
.DS_Store
Thumbs.db

# Word temporaires
~$*.doc*
*.tmp
*.bak

# Sorties lourdes
output/*.docx
work/*.docx
work/*.pdf

# Cache/aux
work/refs_txt/
work/session.json

# Environnement virtuel
venv/
.venv/

# Logs
*.log

